<p>switch works!</p>
<ul>
    <h2>I am *ngSwitch Case</h2>
    <li *ngFor="let item of person" [ngSwitch]="item.State">
        <!-- {{item | json}} -->
        <div *ngSwitchCase="'UP'" class="text-primary"> I am in india</div>

        <div *ngSwitchCase="'Bihar'" class="text-info"> I am in UK</div>

        <div *ngSwitchCase="'Bangalore'" class="text-danger"> I am in USA</div>

        <div *ngSwitchDefault class="text-success"> I am not part of any country</div>

    </li>
</ul>

<ul>
    <h2>My deatils in help of switch case statement</h2>
    <li *ngFor="let item of person" [ngSwitch]="item.State">
        <div [ngStyle]="{'color': getColors(item.State)}"> My Name is {{item.name}} and I am from {{item.State}}
        </div>
    </li>
</ul>
<ul>
    <h2>ng class daynaminc</h2>
    <li *ngFor="let item of person"> 
        <div [ngClass]="{
            'text-primary':item.State=='Bihar',
            'text-warning':item.State=='Bangalore'
        }"
        <div> My Name is {{item.name}} and I am from {{item.State}}
        </div>
    </li>
</ul>